body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
}


.main-header{
    overflow: hidden;
    background-color: #fef1f1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}


.relatorio-btn-bar-options {
    margin: 0;
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: flex-start;
}


.estilo-da-sara {
    background-color: brown;
    text-align: center;
}

.relatorio-consolidado {
    margin: 0;
    padding: 0;
    padding: 30px 40px;
    justify-content: center;
    width: 50%;
}

.lancamentos {
    margin: 0;
    padding: 0;
    padding: 30px 40px;
    justify-content: center;
    width: 100%;
}


.options-bar
{
    width: 80%;
    position: relative;
}

.right-button {
    float: right;
    margin-left: 5px;
}


.icon-visualizar{
    width: 4em;
    height: 4em;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
    background-repeat: no-repeat;
    background-size: 4em 4em;
}