body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
}

.main-header{
    margin-top: 5%;
}


.relatorio-btn-bar-options {
    margin: 0;
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: flex-start;
}


.estilo-da-sara {
    background-color: brown;
    text-align: center;
}

.relatorio-consolidado {
    margin: 0;
    padding: 0;
    padding: 30px 40px;
    justify-content: center;
    width: 50%;
}

.lancamentos {
    margin: 0;
    padding: 0;
    padding: 30px 40px;
    justify-content: center;
    width: 100%;
}

.options-bar
{
    width: 80%;
    position: relative;
}

.right-button {
    float: right;
    margin-left: 5px;
}